 <div class="row">
  <div class="small-6 small-centered columns">
  	<h1 class="login">New Quote8ion</h1>

<%= render 'form' %>


<a href="JavaScript:window.close()">Close</a>

<%= link_to 'Goto Quote8', bookmarks_path, :target => '_blank'%>
</div>
</div>